body{
	background: url("/assets/images/main-logo.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

html, body{
  height: 100%;
}

#components{
  position: absolute;
  width: 300px;
  height: 500px;
  z-index: 15;
  top: 30%;
  left: 50%;
  margin: -100px 0 0 -150px;
}

#desconect, #clean{
	width: 300px;
}